.header
{

	font-family: 'Roboto Condensed',sans-serif;

	.header__top-line
	{
		height: 110px;
		background: linear-gradient(to bottom, #9c3c8c -79%, #fff 17%, #fff 100%);
		
		.logo
		{
			position: relative;

		    top: 26px;
		    left: 70px;
		}
		
		.header__right-info
		{
		    position: absolute;

		    display: inline-block;

		    top: 30px;
		    right: 100px;
		}
	}
}