.store-content_view_cart
{
	padding-left: 20px;
	
	opacity: 0;
	
	transition: opacity .3s;
	
	.store-content__submit
	{
		margin-top: 15px;
		
		width: 600px;
		height: 300px;
		
		.store-content__submit-comment
		{
			margin: 8px 0;
			
			.textarea
			{
				width: 600px;
    			height: 70px;
			}
		}
		
		.button
		{
			float: right;
		}
	}
	
	.store-content__total
	{
		font-size: 20px;
		
		width: 600px;
		
		margin-top: 10px;
		
		.store-content__total-label
		{
			display: inline;
		}
		
		.store-content__total-value
		{
			float: right;
		}
	}
	
	.store-content__empty-topline
	{
		font-size: 20px;
    	line-height: 32px;
	}
	
	.store-content__empty-bottomline
	{
		font-size: 17px;
		
		.link
		{
			font-size: 17px;
		}
	}
}

.store-content_view_cart.store-content_visible
{
	opacity: 1;
}

.modal_type_success-submit-order
{

	.modal__content
	{
		padding: 15px;
		
		.modal__order-saved
		{
			font-size: 19px;
    		text-align: center;
		}
		
		.modal__approve
		{
			font-size: 15px;
    		margin: 2px 0;
		}
		
		.modal__buttons
		{
			margin-top: 10px;
    		text-align: center;
		}
	}
}
