.store-content_view_contacts
{
	margin-left: 60px;

	.store-content__label
	{
		font-size: 18px;
	}

	.store-content__contact
	{
		font-size: 15px;
		
		margin: 4px 0;
		
		.link
		{
			font-size: 15px;
		}
	}
	
	.store-content__pickup-address
	{
		font-size: 15px;
	    margin: 10px 0;
	    color: #6891c5;
	}

}
