.store-content_view_delivery
{
	margin-left: 60px;

	.store-content__label
	{
		font-size: 18px;
	}
	
	.store-content__main-content
	{
		margin: 15px 0;
	    font-size: 15px;
	    width: 800px;
	    
	    .link
	    {
	    	font-size: 15px;
	    }
	    
	    .store-content__geo
	    {
	    	margin: 10px 0;
	    }
	    
	    .store-content__howto1
	    {
	    	margin-bottom: 10px;
	    }
	}
	
	.store-content__items
	{
		font-size: 15px;
		
		.store-content__item
		{
			margin-bottom: 5px;

			.store-content__pickup-line1
			{
				margin-bottom: 10px;
			}
			
			.store-content__pickup-line2
			{
				margin-bottom: 5px;
				color: #6891c5;
			}
		}
		
	}
}