.store-content_view_offer
{

	.store-content__main
	{
		display: inline-block;

    	vertical-align: top;
    	
    	padding-left: 50px;
    	
    	width: calc(100% - 320px);
	}
	
	.store-content__links
	{
		margin: 10px 0;
	}
}
