.store-content_view_feedback
{

	margin-left: 60px;

	.store-content__label
	{
		font-size: 18px;
	}
	
	.store-content__field
	{
		margin: 10px 0;
		
		font-size: 15px;
		
		.store-content__field-label
		{
			margin-bottom: 3px;
		}
		
		.textarea_type_comment
		{
			width: 400px;
    		height: 100px;
		}
	}
	
	.store-content__buttons
	{
		margin-top: 10px;
	}
}

.modal_type_success-submit-feedback
{

	.modal__content
	{
		padding: 15px 20px;
		
		.modal__sended
		{
			font-size: 19px;
    		text-align: center;
		}
		
		.modal__response
		{
			font-size: 15px;
    		margin: 2px 0;
		}
		
		.modal__buttons
		{
			margin-top: 10px;
    		text-align: center;
		}
	}
}
