.catalog
{
	padding-left: 50px;
	
	width: calc(100% - 230px);
	
	.catalog__offers
	{
		display: flex;
	    flex-wrap: wrap;
	    justify-content: space-around;
	}
	
	.catalog__more
	{
		position: relative;
		top: 10px;
		
		text-align: center;
		
		display: none;
	}
	
	.catalog__empty
	{
	    margin-top: 30px;
		margin-left: 20px;

		font-size: 21px;
		color: #6891c5;
	}

	&.catalog_more
	{
		.catalog__more
		{
			display: block;
		}
	}
}

.catalog__propose-cart-modal
{
	.modal__content
	{
		padding: 20px;
		
		.modal__propose-cart-label
		{
		    font-size: 16px;

		    text-align: center;

		    margin-bottom: 15px;
		}
		
		.button_type_gocart
		{
			margin-left: 10px;
		}
	}
}
