.admin-order
{
	border: 1px solid #ffa600;
	
	padding: 15px;
	
	
	.admin-order__field
	{
		margin: 2px 0;
		
		font-size: 15px;

		.admin-order__field-label
		{
			font-weight: bold;
			
			margin-right: 15px;
		}
		.admin-order__field-label,
		.admin-order__field-content
		{
			display: inline;
		}
		
		.admin-order-list
		{
			display: block;
		}
	}
	
	.admin-order__buttons
	{
		margin-top: 15px;
		
		.button
		{
			margin: 0 10px;
		}
	}
}

