.admin-sale
{
	padding: 10px;

    border: 1px solid #FFA600;
    
    .admin-sale__separator
    {
    	border-top: 1px dotted orange;
    	
    	margin: 10px -10px;
    }

    .admin-sale__buttons
    {
        .spin_type_save
        {   
            margin-right: 10px;
            
            vertical-align: middle;
        }

    	.admin-sale__right-buttons
    	{
    		float: right;
    	}
    }
}
