.admin-field__picture
{
	position: relative;
	
	display: inline-block;
	
	margin-right: 10px;
 
    .link:hover + .fa_icon_close,
    .fa_icon_close:hover
    {
        visibility: visible;
    }

    .fa_icon_close
    {
        cursor: pointer;

        position: absolute;
        
        right: -10px;
        top: 0;
        
        visibility: hidden;
    }   
}
