.cart-table
{

	.cart-table__label,
	.cart-table__empty-topline
	{
		font-size: 20px;
    	line-height: 32px;
	}
	
	.cart-table__empty-bottomline
	{
		font-size: 17px;
		
		.link
		{
			font-size: 17px;
		}
	}
	
	.cart-table__table
	{
		border-collapse: collapse;
		margin-top: 10px;
		
		.cart-table__table-hcol,
		.cart-table__table-col
		{
			border: 1px solid #e5e5e5;
			
			padding: 10px 20px;
    		text-align: center;
		}
		
		.cart-table__table-hcol
		{
			font-size: 16px;
    		background: #f9f9f9;
		}
		
		.cart-table__table-col
		{
			font-size: 15px;
		}
		
		.cart-table__count-minus,
		.cart-table__count-plus
		{
			cursor: pointer;
			
			padding: 20px 15px;
			
			font-size: 16px;
			
			&.cart-table__count-minus_disabled,
			.cart-table__count-plus_disabled
			{
				cursor: default;
				
				opacity: .2;
				pointer-events: none;
			}
		}
		
		.cart-table__bottom-count .link
		{
			padding: 15px;
			
			font-size: 15px;
		}

		.cart-table__count
		{
			display: inline;
		}
		
		.cart-table__bottom-count
		{
			display: inline-block;
		}
	}

}
