.admin-offer
{
	padding: 10px;

    border: 1px solid #FFA600;
    
    width: 300px;
    
    .admin-offer__label .link
    {
        outline: none;
    }

    .admin-offer__content
    {
        display: none;
    }

    .admin-offer__separator
    {
    	border-top: 1px dotted orange;
    	
    	margin: 10px -10px;
    }

    .admin-offer__buttons
    {
        .spin_type_save
        {   
            margin-right: 10px;
            
            vertical-align: middle;
        }

    	.admin-offer__right-buttons
    	{
    		float: right;
    	}
    }
}
