.admin-sales
{
	.admin-sales__items
	{
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		
		.admin-sale
		{
			margin: 10px 20px;
		}
	}
	
	.admin-sales__buttons
	{
		position: fixed;
		
		bottom: 10px;
		left: 50%;
		
		margin-left: -175px;
		
		.button
		{
			margin: 0 10px;
		}
	}
}
