@font-face {
    font-family: Metropolis;
    src: url(metropolis.otf);
}

@font-face {
    font-family: Prosto;
    src: url(Prosto.ttf);
}

.logo
{
	
	display: inline-block;

	.logo__top-line
	{
		font-family: Prosto;
		font-size: 35px;
	}
	
	.logo__top-line
	{
		font-family: Prosto;
		font-size: 35px;
	}
	
	.logo__bottom-line
	{
		font-size: 15px;
		
		position: relative;
		
		left: 3px;
	}
}
