.cart
{
	opacity: 0;
	transition: opacity .3s;

	position: relative;
    height: 50px;

	padding: 7px;

	color: #9c3c8c;
	
	cursor: pointer;

	.cart__cart-icon
	{
		font-size: 40px;
		
		display: inline-block;
		position: relative;
    	top: 5px;
    	
    	color: #9c3c8c;
    	
    	&:hover
    	{
    		color: #000;
    	}
	}
	
	.cart__info
	{
		display: inline-block;
		
		margin-left: 15px;
		
		position: relative;
    	top: 6px;
    	
    	font-size: 14px;
    	
    	.cart__product-sum
    	{
    		position: relative;
    		
    		top: 5px;
    	}
	}
	
	.cart__count
	{
		display: none;

	    font-size: 13px;
	    font-family: 'Roboto Condensed', sans-serif;
	    font-weight: bold;

	    position: absolute;
	    right: -14px;
	    top: -5px;
	    
	    background: #fff;
	    padding: 2px 5px;
	    
	    border: 2px solid #9c3c8c;
	    border-radius: 100%;

	    color: black;
	}
	
	&:hover
	{
		color: #000;
	}
		
}
