.offer
{

	.button_type_add
	{
		cursor: pointer;

		width: 100%;
    	border-radius: 0;
    	background: #6891C5;
    	
    	font-weight: 700;
	    font-size: 16px;

	    line-height: 40px;
	    
	    color: #fff;
	    
	    transition: background .3s;
    	
    	&:before
    	{
    		border-radius: 0;
    		background: #6891C5;
    		
    		transition: background .3s;
    	}
    	
    	&.button_theme_islands.button_view_action:hover
    	{
    		background: #282828;
    		
    		&:before
    		{
    			background: #282828;
    		}
    	}
	}
}
