.offer_view_default
{
	position: relative;

	width: 240px;
	
	vertical-align: top;

	padding: 20px;
	margin: 20px;
	
	box-shadow: 0 0 12px #d4d4d4;
	transition: box-shadow 0.3s;
	
	display: inline-block;

	.offer__img-wrapper
	{
		overflow: hidden;
	    position: relative;
	    height: 335px;
	    
	    margin-bottom: 5px;
	}
	
	.offer__img
	{	
		position: absolute;
	    margin: auto;
	    top: 0;
	    bottom: 0;
	}

	.offer__label
	{
		text-align: center;
		
		font-weight: bold;
	    font-size: 16px;
	    
	    line-height: 19px;

	    color: #9c3c8c;
	    
	    margin-bottom: 20px;
	    
	    display: block;
	    
	    &:hover
	    {
	    	color: #000;
	    }
	}
	
	.offer__description
	{
		font-style: italic;
		height: 50px;
		
		overflow: hidden;
		text-overflow: ellipsis;
		
		color: #aeadad;
		
		margin-bottom: 10px;
		
		font-size: 14px;
		
		display: -webkit-box;
	    -webkit-line-clamp: 3;
	    -webkit-box-orient: vertical;
	}
	
	.offer__price
	{
		margin-bottom: 15px;
		
		text-align: center;
	}

	.offer__new-price
	{
		font-weight: 700;
	    font-size: 20px;

	    line-height: 21px;
	    padding-right: 5px;
	    
	    color: #6891C5;
	    
	    display: inline;
	}
	
	.offer__old-price
	{
		text-decoration: line-through;
	
		display: inline;
		
		color: #bbb;	
	}
	
	.offer__sale
	{
		position: absolute;
		
		top: 30px;
		left: 0;
		
		background: #6891C5;
		
		color: #FFF;
	    height: 26px;
	    padding: 0 8px;

	    line-height: 26px;
	    font-size: 20px;
	}
	
	.button_type_add.button_theme_islands.button_focused-hard.button:before
	{
		box-shadow: 0 0 0 1px #6891c5, inset 0 0 0 1px #6891c5;
	}
	
	.offer__not-available
	{
		text-align: center;
	    font-size: 19px;
	    font-weight: bold;
	    color: #9c3c8c;
	}

	&:hover
	{
		box-shadow: 0 0 12px #BABABA;
	}
}
