.offer_view_full
{
	.offer__left,
	.offer__right
	{
		display: inline-block;
		
		vertical-align: top;
	}
	
	.offer__right
	{
		margin-left: 20px;
    	padding-top: 20px;
    	
    	width: calc(100% - 265px);
	}
	
	.offer__img
	{
		border: 1px solid #e5e5e5;
	}
	
	.offer__label
	{
	    color: #000;

	    font-size: 24px;
	    line-height: 28px;
	    padding: 15px 20px 10px 0;

	    border-bottom: 1px solid #e5e5e5;
	}
	
	.offer__description
	{
		margin: 10px 0;
		
		font-size: 14px;

		font-style: italic;
	}
	
	.offer__not-available
	{
		text-align: center;
	    font-size: 19px;
	    font-weight: bold;
	    color: #9c3c8c;
	}
	
	.offer__price
	{
		font-size: 14px;
		color: #bbb;
	}
	
	.offer__new-price
	{
		font-size: 22px;
	    font-weight: 900;
	    color: #6891c5;
	    margin-left: 5px;
	}
	
	.offer__old-price
	{
    	color: #bbb;
	}
	
	.offer__controls
	{
		width: 200px;
   		margin-top: 20px;
	}
}
