.delivery-options
{
	margin-top: 25px;
	
	.delivery-options__label
	{
		font-size: 16px;
	}
	
	.delivery-options__description
	{
		color: #6891c5;
		
		margin-top: 10px;
		
		font-size: 15px;

		.delivery-options__pickup-desc
		{
			.delivery-options__pickup-address-label
			{
				font-size: 16px;
			}
			
			.delivery-options__pickup-address
			{
			    padding-top: 5px;
			    padding-bottom: 10px;
			}
		}
	}

}