.similar
{
	margin-top: 20px;

	.similar__label
	{
		color: #333;
	    text-transform: uppercase;
	    font-size: 18px;
	    margin: 0 0 10px 0;
	    padding: 8px 0 14px 0;
	    box-shadow: 0 9px 5px -6px rgba(0,0,0,0.1), 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0), 0 0 3px -4px rgba(0,0,0,0);
	    border-bottom: 4px solid #bababa;
	}
	
	.similar__items
	{
		display: flex;
	    flex-wrap: wrap;
	    justify-content: space-around;
	}

	.similar__item
	{
		width: 180px;
		
		text-align: center;

		display: inline-block;
		
		margin: 10px 3px;
		
		border: 1px solid #e5e5e5;
		
		transition: all .3s;
		
		padding: 25px 15px;
		
		position: relative;
		
		.similar__img-wrapper
		{
			overflow: hidden;
		    position: relative;
		    height: 240px;
		    
		    margin-bottom: 5px;
		}
		
		.similar__img
		{	
			position: absolute;
		    margin: auto;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		}

		.similar__name
		{
			color: #000;
			
			transition: all .3s;
			
			text-align: center;
		}
		
		.similar__price
		{
			background: #6891C5;
		    width: 100px;
		    color: #fff;
		    line-height: 36px;
		    height: 36px;
		    text-align: center;
		    font-size: 16px;
		    position: absolute;
		    left: 40px;
		    top: 17%;
		    opacity: 0;
		    transition: all .3s;
		}
		
		.similar__color
		{
			position: absolute;

		    width: 20px;
		    height: 20px;

		    border: 1px solid #e5e5e5;

		    top: 7px;
		    right: 7px;
		}
		
		&:hover
		{
			border-color: #6891C5;
			
			.similar__name
			{
				color: #6891C5;
			}
			
			.similar__price
			{
				opacity: .9;
				
				top: 35%;
			}
		}
		
		&:first-child
		{
			margin-left: 0;
		}
	}
}