.sort
{
	margin-left: 30px;

	.sort__label,
	.sort__control
	{
		display: inline-block;

		vertical-align: middle;
	}
	
	.sort__label
	{
		margin-right: 10px;
		
		font-size: 15px;
	}
	
	.sort__control
	{
		margin-right: 30px;
	}
}
