.offer_in-cart
{
	
	&.offer_view_default,
	&.offer_view_full
	{
		.button_type_add,
		.button_type_add:before
		{
			transition: none;
			background: #2b962f !important;
			
			pointer-events: none;
		}
	}
}
