.page_type_store
{
	
	.store-content
	{
		font-family: 'Roboto Condensed',sans-serif;
	}

	.checkbox_theme_islands.checkbox_checked .checkbox__box:before
	{
		background: #fff;
	}
	
	.checkbox_theme_islands.checkbox_checked .checkbox__box,
	.checkbox_theme_islands.checkbox_hovered.checkbox_checked .checkbox__box
	{
		background: #6891c5;
	}
	
	.checkbox_theme_islands.checkbox_focused .checkbox__box:before
	{
		box-shadow: 0 0 0 1px #6891c5, inset 0 0 0 1px #6891c5;
	}
	
	.select
	{
		.button_theme_islands.button_focused-hard.button:before
		{
			box-shadow: 0 0 0 1px #6891c5, inset 0 0 0 1px #6891c5;
		}
	}
	
	.menu__item_theme_islands.menu__item_hovered
	{
		background-color: rgba(104, 145, 197, .28);
	}
	
	.button,
	.button:before
	{
		border-radius: 0;
	}
	
	.button_theme_islands.button_view_action,
	.button_theme_islands.button_view_action.button_hovered,
	.button_theme_islands.button_view_action.button_focused-hard
	{
		background: #9c3c8c;
		color: #fff;
	}
	
	.button_theme_islands.button_view_action.button_focused-hard
	{
		animation: none;
	}
	
	.button_theme_islands.button_focused-hard
	{
		background: rgba(104, 145, 197, .28);
	}
	
	.button_theme_islands.button_focused-hard.button:before
	{
		box-shadow: 0 0 0 1px #6891c5, inset 0 0 0 1px #6891c5;
	}
	

	.radio_theme_islands.radio_checked .radio__box:before
	{
		background: rgba(56, 136, 236, 0.61);
	}
	
	.radio_theme_islands.radio_focused .radio__box:before
	{
		box-shadow: none;
	}
	
	.input_theme_islands.input_focused:before
	{
		box-shadow: 0 0 0 1px #6891c5, inset 0 0 0 1px #6891c5;
	}
	
	.textarea_theme_islands.textarea_focused
	{
		border-color: #6891c5;
    	box-shadow: 0 0 0 1px #6891c5;
	}
}
