.filter-bar
{
	width: 180px;
	
	.filter-bar__label
	{
		color: #333;

	    text-transform: uppercase;
	    font-size: 18px;

	    margin: 0 0 30px 0;
	    padding: 8px 0 14px 0;

	    box-shadow: 0 9px 5px -6px rgba(0,0,0,0.1),0 0 0 0 rgba(0,0,0,0),0 0 0 0 rgba(0,0,0,0),0 0 3px -4px rgba(0,0,0,0);
	    border-bottom: 4px solid #bababa;
	}
}
