.top-popular
{
	width: 270px;

	display: inline-block;
	vertical-align: top;
	
	.top-popular__label
	{
	    color: #333;
	    text-transform: uppercase;

	    font-size: 18px;

	    margin: 0 0 30px 0;
	    padding: 8px 0 14px 0;

	    box-shadow: 0 9px 5px -6px rgba(0,0,0,0.1), 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0), 0 0 3px -4px rgba(0,0,0,0);
	    border-bottom: 4px solid #bababa;
	}
	
	.top-popular__content
	{
		box-shadow: 0 0 12px #d4d4d4;
		
		padding: 20px;
		
		transition: box-shadow 0.3s;
		
		&:hover
		{
			box-shadow: 0 0 12px #bababa;
		}
		
		.top-popular__img
		{
			margin-bottom: 13px;
		}
		
		.top-popular__offer-price
		{
			color: #333;
		    font-weight: 700;

		    font-size: 22px;
		    line-height: 22px;

		    text-align: center;
		    padding: 0 0 13px 0;
		}
		
		.top-popular__offer-label
		{
			text-align: center;
		    background: #f8f8f8;
		    padding: 12px 10px;
		    
		    color: #9c3c8c;
		    
		    font-size: 14px;
		    margin-left: -20px;
		    margin-right: -20px;

		    text-transform: uppercase;
		}
		
		.top-popular__offer-description
		{
			font-style: italic;

			padding-top: 10px;

		    text-align: center;
		    color: #777;
		    font-size: 14px;

		    display: -webkit-box;
		    -webkit-line-clamp: 3;
		    -webkit-box-orient: vertical;

		    overflow: hidden;
		    text-overflow: ellipsis;

		    height: 50px;
		}
	}
}
