.admin-header
{
	margin: 20px 0;

	.admin-header__header-items
	{
		display: flex;
		justify-content: space-around;
	}
	
	.admin-header__logout
	{
		position: absolute;
		top: 10px;
    	right: 10px;
	}
}
