.store-menu
{	
	padding-left: 30px;
	
	background: linear-gradient(to bottom, #000 -300%, #9c3c8c 18%, #9c3c8c 100%);
	
	box-shadow: 0px 10px 14px -5px rgba(156, 60, 140, 0.5);
	
	outline: none;

	.store-menu__item
	{
		display: inline-block;
		
		padding: 18px 19px 20px 19px;
		
		font-weight: bold;
    	font-size: 22px;
    	
    	text-transform: uppercase;
    	
    	border-right: 1px solid #3e3e3e;
    	
    	color: #fff;
    	
    	transition: background .3s;
    	
    	&.store-menu__item_active
    	{
    		background: #6891C5;
    	}
	}
	
	.store-menu__item:hover
	{
		background: #6891C5;
	}
	
	.link:nth-child(1) .store-menu__item
	{
		border-left: 1px solid #3e3e3e;
	}
}
